@model InmueblateWeb.Models.Mensaje
@{
    ViewBag.Title = "Mensajes";
    int id_sesion = 0;
    if ((int)HttpContext.Current.Session["idUsuario"] != null)
    {
        id_sesion = (int)HttpContext.Current.Session["idUsuario"];
    }
}




    
<h2>@ViewBag.Title</h2>
<div class="well bs-component">
    <div class="bs-component">
                <fieldset>
            <legend>Enviar mensajes a usuarios</legend>
       @using (Html.BeginForm("EnviarMensaje","MensajeUS",FormMethod.Post, new { @class="form-horizontal new-val" }))
        {
  
            <div class="form-group">
                <div class="col-md-3 control-label">
                    @Html.LabelFor(m => m.Asunto)
                </div>
                @*<label for="txtComentario" class="col-md-3 control-label">Comentario: </label>*@
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Asunto, new {@class = "form-control",
                                                                placeholder = "Introduce un comentario..."})
                    @Html.ValidationMessageFor(m => m.Asunto)
                </div>
            </div>
           <div class="form-group">
           <div class="control-label col-md-3" id="labelAmigos">
                @Html.LabelFor(m => m.Receptor)
            </div>
            <div class="editor-field col-md-9" id="inputUsuarioCategoria">
                @Html.DropDownListFor(m => m.Receptor, new SelectList(@ViewBag.Amigos), new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Receptor)
            </div>
           </div>
            <div class="form-group">
                <div class="col-md-3 control-label">
                    @Html.LabelFor(m => m.Cuerpo)
                </div>
                @*<label for="txtComentario" class="col-md-3 control-label">Comentario: </label>*@
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Cuerpo, new
               {
                   @class = "form-control",
                   placeholder = "Introduce un comentario..."
               })
                    @Html.ValidationMessageFor(m => m.Cuerpo)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-1" id="btnValorar">
                    <button type="submit" class="btn btn-primary">Enviar</button> 
                </div>
            </div>
        }
        </fieldset>
        </div>
</div>
<div class="well bs-component">
    <div class="bs-component">
                <fieldset>
            <legend>Enviar mensajes a inmobiliarias</legend>
       @using (Html.BeginForm("EnviarMensaje2","MensajeUS",FormMethod.Post, new { @class="form-horizontal new-val" }))
        {
  
            <div class="form-group">
                <div class="col-md-3 control-label1">
                    @Html.LabelFor(m => m.Asunto)
                </div>
                @*<label for="txtComentario" class="col-md-3 control-label">Comentario: </label>*@
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Asunto, new {@class = "form-control",
                                                                placeholder = "Introduce un comentario..."})
                    @Html.ValidationMessageFor(m => m.Asunto)
                </div>
            </div>
           <div class="form-group">
           <div class="control-label col-md-3" id="labelAmigos1">
                @Html.LabelFor(m => m.Receptor)
            </div>
            <div class="editor-field col-md-9" id="inputUsuarioCategoria1">
                @Html.DropDownListFor(m => m.Receptor, new SelectList(@ViewBag.Inmobiliarias), new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Receptor)
            </div>
           </div>
            <div class="form-group">
                <div class="col-md-3 control-label">
                    @Html.LabelFor(m => m.Cuerpo)
                </div>
                @*<label for="txtComentario" class="col-md-3 control-label">Comentario: </label>*@
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Cuerpo, new
               {
                   @class = "form-control",
                   placeholder = "Introduce un comentario..."
               })
                    @Html.ValidationMessageFor(m => m.Cuerpo)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-1" id="btnValorar">
                    <button type="submit" class="btn btn-primary">Enviar</button> 
                </div>
            </div>
        }
        </fieldset>
        </div>
</div>
<div class="well bs-component">
    <div class="bs-component">

    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
      <li ><a href="#enviados" data-toggle="tab">Enviados</a></li>
      <li ><a href="#recibidos" data-toggle="tab">Recibidos</a></li>
    </ul>

    <div id="myTabContent" class="tab-content">

      <div class="tab-pane fade active in" id="enviados">
@if(ViewBag.entrada!=null)
{
        for (int i = 0; i < ViewBag.entrada.Count; i++)
        {
            <div class="row">
                <div class="well bs-component">
                    <fieldset>
                            <div class="editor-label" id="labelMensajeAsunto1">
                             <h4><strong>Asunto:</strong>   @ViewBag.entrada[i].Asunto</h4>
                            </div>
                            <div class="editor-label" id="labelMensajeCuerpo1">
                             <h4><strong>Mensaje:</strong>   @ViewBag.entrada[i].Cuerpo</h4>
                            </div>
                            <div class="editor-label" id="labelMensajeFecha1">
                            <strong>Fecha:</strong>   @ViewBag.entrada[i].FechaEnvio
                            </div>

            
                    </fieldset>
                </div>
            </div>
            
        }
       if (ViewBag.entrada.Count == 0)
        {
            <div class="row">
                <div class="well bs-component">
                    <h3>Lista vacia!</h3>
                 </div>
            </div>
        }
    }
      </div>

      <div class="tab-pane fade" id="recibidos">
  @if (ViewBag.salida != null)
 {
     for (int i = 0; i < ViewBag.salida.Count; i++)
        {
            <div class="row">
                 <div class="well bs-component">
                     <fieldset>
                            <div class="editor-label" id="labelMensajeAsunto2">
                             <h4><strong>Asunto:</strong>   @ViewBag.salida[i].Asunto</h4>
                            </div>
                            <div class="editor-label" id="labelMensajeCuerpo2">
                             <h4><strong>Mensaje:</strong>   @ViewBag.salida[i].Cuerpo</h4>
                            </div>
                            <div class="editor-label" id="labelMensajeFecha2">
                             <strong>Fecha:</strong>   @ViewBag.salida[i].FechaEnvio
                            </div>

            
                    </fieldset>
                </div>
            </div>
               
        }
        if (ViewBag.salida.Count == 0)
        {
            <div class="row">
                <div class="well bs-component">
                    <h3>Lista vacia!</h3>
                 </div>
            </div>
        }
      }
      </div>
     
    </div>


    </div>

</div>

